@charset "utf-8";

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 100;
	src: local('※'),
        url('./font/Arita-buriHL.woff2') format('woff2'), 
        url('./font/Arita-buriHL.woff') format('woff'),
        url('./font/Arita-buriHL.ttf') format('truetype'),
        url('./font/Arita-buriHL.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 200;
	src: local('※'),
        url('./font/Arita-buriL.woff2') format('woff2'), 
        url('./font/Arita-buriL.woff') format('woff'),
        url('./font/Arita-buriL.ttf') format('truetype'),
        url('./font/Arita-buriL.eot') format('embedded-opentype');
}
 
@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 400;
	src: local('※'),
        url('./font/Arita-buriM.woff2') format('woff2'), 
        url('./font/Arita-buriM.woff') format('woff'),
        url('./font/Arita-buriM.ttf') format('truetype'),
        url('./font/Arita-buriM.eot') format('embedded-opentype');
}
 
@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 700;
	src: local('※'),
        url('./font/Arita-buriSB.woff2') format('woff2'), 
        url('./font/Arita-buriSB.woff') format('woff'),
        url('./font/Arita-buriSB.ttf') format('truetype'),
        url('./font/Arita-buriSB.eot') format('embedded-opentype');
}
 
@font-face {
	font-family: 'AritaBuri';
	font-style: normal;
	font-weight: 900;
	src: local('※'),
        url('./font/Arita-buriB.woff2') format('woff2'), 
        url('./font/Arita-buriB.woff') format('woff'),
        url('./font/Arita-buriB.ttf') format('truetype'),
        url('./font/Arita-buriB.eot') format('embedded-opentype');
}