@charset "utf-8";
@media screen and (max-width: 1500px){
  .business-box > .inner {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 1300px) {
  .swiper-pagination {
    margin-right: 2rem;
  }
  .business-txt > h3{
    font-size: 4rem;
  }
  .business-txt p {
    font-size: 1.5rem;
  }
.business-txt p {
    margin: 30px 0 50px;
}
}
@media screen and (max-width: 960px) {
  .business-img img{
    width: 60%;
  }
  .business-img {
    text-align: right;
  }
  .business-box > .inner{
    flex-direction : column-reverse;
    gap: 0;
  }

}

