@charset "utf-8";
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 10px;
}
body {
  font-family: Pretendard, "Nanum Myeongjo", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.64px;
  color: #191919;
  word-break: keep-all;
  background-color: rgb(198, 245, 245);
  height: 3000px;
  min-width: 780px;
}
/* 공통요소 */
.wrap {

}
/* 비지니스 */
.business {
  position: relative;
  height: 52.08vw;
  max-height: 1300px;
  min-height: 676px;
}
.swBusiness {
  width: 100%;
  height: 100%;
}
.business-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.business-img-1 {
  background: url("../images/bg-history.png") no-repeat center;
  background-size: cover;
}
.business-img-2 {
  background: url("../images/bg-geography.png") no-repeat center;
  background-size: cover;
}
.business-img-3 {
  background: url("../images/bg-law.png") no-repeat center;
  background-size: cover;
}
.business-box > .inner {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10rem;
}
.business-txt {
  /* position: relative; */
  flex-basis: 40%;
  /* height: 100%; */
  color: #fff;
  overflow: hidden;
}
.business-txt > h3 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -2.5px;
  opacity: 0;
  transform: translateY(100px);
}
.swBusiness .swiper-slide-active .business-txt > h3 {
  transition: all 1s 0.5s;
  opacity: 1;
  transform: translateY(0);
}
.business-txt p {
  margin: 55px 0 70px;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.5;
  opacity: 0;
  transform: translateY(100px);
}
.swBusiness .swiper-slide-active .business-txt p {
  transition: all 1s 0.5s;
  opacity: 1;
  transform: translateY(0);
}
.business-txt p span {
  margin-top: 18px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.18px;
  color: #e0e0e0;
  opacity: 0;
  transform: translateY(100px);
}
.swBusiness .swiper-slide-active .business-txt p span {
  transition: all 1s 0.6s;
  opacity: 1;
  transform: translateY(0);
}
.business-txt a {
  /* margin-top: 71px; */
  display: inline-block;
  position: relative;
  padding-right: 46px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.14px;
  color: #fff;
  opacity: 0;
  transform: translateY(100px);
}
.business-txt a::after {
  content: "";
  position: absolute;
  right: 0;
  top: -6px;
  width: 36px;
  height: 25px;
  background: url("../images/more.png") no-repeat center;
}
.swBusiness .swiper-slide-active .business-txt a {
  transition: all 1s 0.8s;
  opacity: 1;
  transform: translateY(0);
}
.business-img {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
}
.business-img img {
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 5px 5px 20px #555555;
  transform: translateY(100px);
}
.swBusiness .swiper-slide-active .business-img img {
  transition: all 1s 1s;
  opacity: 1;
  transform: translateY(0);
}
.business-img p {
  font-weight: bold;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.7);
}
.business-img p em {
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}
/* 페이지네이션 */
#app {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  width: 18rem;
  height: 2rem;
  margin: 0 auto;

  overflow: hidden;
  z-index: 1;
}
.swiper-pagination {
  margin-right: 5rem;
}
.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease height;
}
.swiper-pagination-bullet-active {
  height: 40px;
  cursor: auto;
}

